@model IEnumerable<BookTitles.Models.BookFormat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.BookFormatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormatDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.BookFormatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookFormatID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookFormatID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookFormatID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
