@model HotelReservationv2.Models.tblBookings

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblBookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ingCustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ingCustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteDateBookingMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteDateBookingMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tmeTimeBookingMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tmeTimeBookingMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteBookedStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteBookedStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteBookedEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteBookedEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteTotalPaymentDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteTotalPaymentDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteTotalPaymentDueAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteTotalPaymentDueAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memBookingComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memBookingComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteTotalPaymentMadeOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteTotalPaymentMadeOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ingBookingID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
